<ion-header>
  <ion-toolbar>
    <ion-title>
      FONTE DA VIDA
    </ion-title>
    <ion-icon class="home-more" name="more" slot="end" (click)="abrirDefinicoes()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div>
      <img src="assets/img/home.jpg" />
    </div>
    <ion-grid>
      <ion-row>
        <ion-col padding class="homelinks-col" size="6" *ngFor="let link of homeLinks" (click)="irPara(link.pagina)">
          <ion-icon name="{{ link.icone }}"></ion-icon>
          <h2>{{ link.nome }}</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
