<ion-header>
  <ion-toolbar padding>
    <ion-button fill="outline" color="secondary" size="small" (click)="trocarTestamento('ot')">
      {{ "OLD_TESTAMENT" | translate }}
      <ion-icon *ngIf="testamentoCheckIcon.ot" name="checkmark" slot="end" color="danger"></ion-icon>
    </ion-button>

    <br>
    <ion-button fill="outline" color="secondary" size="small" (click)="trocarTestamento('nt')">
      {{ "NEW_TESTAMENT" | translate }}
      <ion-icon *ngIf="testamentoCheckIcon.nt" name="checkmark" slot="end" color="danger"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="mostrarLivros">
    <p>
     <!-- Lista de livros da biblia: <strong>{{ testamentoSelecionado }}</strong>. -->
    </p>
    <ion-list *ngFor="let livro of bibleService.listaLivros">
      <p align="center">
        <ion-button  fill="outline" shape="round" color="primary" (click)="verCapitulos(livro)">
          {{ livro.bookName }}
        </ion-button>
      </p>
    </ion-list>
  </div>

  <div *ngIf="mostrarCapitulos">
    <p>
      <ion-icon name="arrow-back" slot="start" (click)="voltar(paraLivros)"></ion-icon>
      Lista dos Capítulos do livro de: <strong>{{ bibleService.livroSelecionado }}</strong>
    </p>
    <ion-list>
      <p align="center" *ngFor="let numero of bibleService.listaCapitulos">
        <ion-button  fill="outline" shape="round" color="primary" (click)="tocarAudio()">
          {{ bibleService.livroSelecionado }} &nbsp;&nbsp; <strong>{{ numero }}</strong>
        </ion-button>
      </p>
    </ion-list>
  </div>
    
</ion-content>
