
.biblia-listalivros{
    margin-left: 10%;
    margin-right: 10%;
    border:1px solid #dcdcdc;
}

.listalivros-code{
    background-color: #dcdcdc;
    text-align: center;
}

.opcoes{
    text-align: left;
    border:1px solid #dcdcdc;
}